* {
    font-family: 'Montserrat Alternates', sans-serif;
}

h1 {
    color: #DE6D43;
    font-family: 'Roboto', sans-serif;
}

h2 {
   color: #424846;
}

h2 {
    color: #819975;
    text-decoration: none;
 }